* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dec9c9;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    background-color: #fff;
    border: 1px solid #6967d282;
    border-radius: 50%;
}

#linhalogo {
    background-color: #9b324c;
    border: none;
    width: 100%;
}

#topo {
    padding: 1px 1px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    height: auto;
    /*float: left;*/
}

#menu {
    width: 100%;
    list-style: none;
    border:none;
    float: left;
    background-color: #5e71d2;
    display:block;
}

#menu li {
    position: relative;
    float: left;
    border-right: 1px solid rgb(0, 0, 0);
}

#menu li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

#menu li a:hover {
    background-color: #8989d3;
    transition: 1s;
}

#menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #5e71d2;
    display: none;
}

#menu li:hover ul {
    display: block;
}

#menu li ul li {
    text-decoration: none;
    list-style: none;
    /*Tira a bolinha do lado da lista */
    border:none;
    width: 150px;
}

/*menu responsivo*/
label[for="bt_menu"]{
    display:none;
}
#bt_menu{
    display:none;
}

#artigo {
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 90%;
    min-height: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin: 100px auto 0 auto;
    /* Alinha o bloco_texto no centro da página e a 200px do topo */
}

#rodape {
    width: 100%;
    height: 50px;
    background-color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

h1 {
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#imagem_conteudo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

input, select {
    width: 40%;
    height: 30px;
    background-color: #dacfc6b3;
    color: #000;
    border-radius: 15px;
    margin-left: 5px;
}

label {
    font-weight: bold;
    font-size: 1.0em;
    margin-left: 5px;
    padding-bottom: 5%;
}

legend {
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 5px;
    color: #9b324c;
    padding-bottom: 1.5%;
}

fieldset {
    border-color: #9b324c;
    padding-bottom: 5%;
    border-radius: 15px;
}

textarea {
    width: 40%;
    background-color: #dacfc6b3;
    color: #000;
    border-radius: 15px;
    padding: 5px;
    margin-left: 5px;
}

input[type=submit] {
    width: 15%;
    height: 40;
    background-color: #5E71D2;
    color: #FFF;
    font-weight: bold;
}

input[type=reset] {
    width: 15%;
    height: 40;
    background-color: #5E71D2;
    color: #FFF;
    font-weight: bold;
}

.required:after {
    content: "*";
    color: red;
}

#video {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
}

#frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
}

#acessibilidade{
    width: 95%;
    height: auto;
    background-color: #fff;
    margin:auto;
}
#atalhos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    list-style: none;
    padding-left: 1%;
}
#atalhos li{
    display:inline;
}
#atalhos li a{
color:#000;
}
#atalhos li a:hover{
color:#3e3e3e;  
}
#pgacess{
    padding-left:25%;
    
}
.contraste, .fonte{
    padding-left: 5px;
}

#breadcrumb{
    padding-left: 2%;
    display: block;
    padding-top: 5%;
    list-style:none;
}
#breadcrumb li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: black;
}
#breadcrumb li a {
    color:darkgrey;
    text-decoration: none;
}
#breadcrumb li+li:before {
content:"/\00a0";
padding:6px;
color:#000;
}

#breadcrumb li a:hover{
    color:#000;
    text-decoration: underline;
}

/*media queries*/

/*media querie menu responsivo*/

@media screen and (max-width:1000px){

    #menu{
        display:none;
    } 

label[for=bt_menu]{
    display:block;
    background-color: #5e71d2;
    border-right: 1px solid rgb(0, 0, 0);
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height:10px;
}

#bt_menu:checked ~ #menu{
    display:block;
    border:none;
   
}
    #menu li {
    position: relative;
    float: left;
    width:100%;
    border:none;

}
    #menu li ul {
    position: static;
    width: 100%;
    /*float:right;*/
}
    #menu li ul li{
    position:relative;
    width:100%;
    float:left;
    display:block;
    border:none;

    }

    #acessibilidade{
        width: 95%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.5em;
    }
    #frame {
        width:300px;
        height: 300px;
    }
    #video{
        width: 300px;
        height: 300px
    }
    #icone_menu {
        width: 23px;
        height: 23px;
    }
    h1 {
        font-size: 0.95em; 
    }
    #breadcrumb{
        font-size: 0.7em;  
    }
}

@media screen and (max-width:1280px) {
    #pgacess{
        padding-left:20%
    }
}
@media screen and (max-width:1024px) {
    #pgacess{
        padding-left:15%
    }
}

@media screen and (max-width:630px) {
    ul#atalhos li{
        display:none;
    }
    ul#atalhos li#pgacess {
        display:inline-block;
    }
    ul#atalhos li.contraste {
        display:inline-block;
    }
    ul#atalhos li.fonte {
        display:inline-block;
    }
}